{% extends 'base.html' %}

{% block title %} About Me {% endblock %}

{% block content %}



<div class="card" style="padding-tops: 1rem; margin-top: 1rem;">
    <div class="card-body">
        <h2 class="card-title" style="margin-top: 2rem; margin-bottom: 1rem; ">About this project</h2>
        <p class="card-text" style="margin-top: 2rem; margin-bottom: 1rem; font-size: larger;">
            
        Hi there! Thanks for stopping by. My name is Archana Kalburgi, and I am a student at Stevens Institute of Technology pursuing a master's in computer science.
        <br/>
        <br/>
        I created this project for Shopify's coding challenge. 
        My github <a href="https://github.com/archanakalburgi/shopify-dev-intern">repository</a> contains technical details regarding machine learning models and how image search is implemented.
        
        As part of my efforts to become a better communicator, I write blog posts about things I learn. Read my blogs <a href="https://archanakalburgi.github.io/">here</a>. Please let me know if you have any feedback via email or <a href="https://github.com/archanakalburgi/archanakalburgi.github.io/issues/new">github issues</a> or <a href="https://twitter.com/archanakalburgi">Twitter </a>.
        </p>
    </div>
  </div>


{% endblock %}
